$main: rgb(73, 99, 250);
$second: #576ff7;
$main-10: rgba(73, 99, 250, .1);

$red: #E80808;
$red-20: rgba(232, 8, 8, .2);

$dark: #1F1F24;
$gray: #27272E;
$lgray: #313139;
$llgray: #68687B;
$bg: #748AA1;